# This file managed by chef.
# Local changes to this file will be overwritten.

[Unit]
Description=Run scheduled task multiple
Requires=multiple.service

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=Mon,Wed
AccuracySec=1s
Persistent=false
RandomizedDelaySec=0s
Unit=multiple.service
