# This file managed by chef.
# Local changes to this file will be overwritten.

[Unit]
Description=Run scheduled task multiple
After=network.target

[Service]
Type=oneshot
Slice=system-timers-multiple.slice
ExecStart=/usr/local/bin/foobar.sh one
ExecStart=/usr/local/bin/foobar.sh two
TimeoutStartSec=infinity
TimeoutStopSec=90s
