# This file managed by chef.
# Local changes to this file will be overwritten.

[Unit]
Description=Custom set description field
After=network.target
jkl=aaaaah
barbaz=a
barbaz=b
barbaz=c

[Service]
Type=oneshot
Slice=system-timers-params.slice
ExecStart=/usr/local/bin/foobar.sh
TimeoutStartSec=infinity
TimeoutStopSec=90s
asdf=7
baz=11
foobar=1
foobar=2
foobar=3
