# This file managed by chef.
# Local changes to this file will be overwritten.

[Unit]
Description=Run scheduled task simple
Requires=simple.service

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*:0/15:0
AccuracySec=1s
Persistent=false
RandomizedDelaySec=0s
Unit=simple.service
