# This file managed by chef.
# Local changes to this file will be overwritten.

[Unit]
Description=Run scheduled task simple
After=network.target

[Service]
Type=oneshot
Slice=system-timers-simple.slice
ExecStart=/usr/local/bin/foobar.sh
TimeoutStartSec=infinity
TimeoutStopSec=90s
