name: Continuous Integration
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ruby:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7', '3.0', '3.1']
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run rspec
      run: ./scripts/run_chefspec
    - name: Run cookstyle
      run: ./scripts/run_cookstyle
  kitchen:
    strategy:
      fail-fast: false
      matrix:
        os:
          - centos-stream-8
          - ubuntu-2004
          - debian-10
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install Chef
      uses: actionshub/chef-install@2.0.4
      with:
        project: chef-workstation
        version: 20.11.180
    - name: Run Kitchen
      uses: actionshub/test-kitchen@2.1.0
      with:
        suite: default
        os: ${{ matrix.os }}
      env:
        CHEF_LICENSE: accept-no-persist
        CHEF_VERSION: 17.10.163
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
